#landing {




    background: linear-gradient(to bottom, rgb(35, 206, 250), rgb(135, 225, 250), rgb(135, 255, 250));





    border: 5px solid lightblue;
  

    animation-name: example;
    animation-duration: 2s;
}
    @keyframes example {
      from {
        background: linear-gradient(to bottom, rgb(35, 206, 250), rgb(135, 225, 250), rgb(135, 255, 250));
      }
      to {
        background: linear-gradient(to bottom, rgb(135, 26, 250), rgb(135, 25, 250), rgb(135, 25, 250));

      
     
      }
    }
.title1 {
    margin-bottom: -19px;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 2px lightgray;


}

.title2 {
    margin-bottom: -5px;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 2px gray;
     animation-name: example1;
    animation-duration: 2s;
    
}
@keyframes example {
      from {
       transform:scale(0,0)
      }
      to {
        transform:scale(2,2)
      
     
      }
    }

header {
    font-family: 'Julius Sans One', sans-serif;
}

#demo {
    border: 3px solid black;
    background: linear-gradient(to right, gray, lightblue);

}

.navcustom {
    background: linear-gradient(to right, red, green);
    border: 3px solid black;

}



